body{
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin: 50px 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
 
.blood-title{
    background-color: tomato;
    color: white;
    padding: 30px 30px;
}

    
ul{
    list-style: none;
}
.form-group{
    padding: 20px 20px;
    justify-content: center;
    

}
input{
    justify-content:center;
}
span{
    color: red;
}
label{
    display: inline-block;
}
